@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PreStatus</title>
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        window.location.href = '/Payment/Status';
    });
</script>
