@model Ecommerce.Model.NewsLetter
             @using (Ajax.BeginForm("NewsletterEmail", "FrontBase", new AjaxOptions
    {
        UpdateTargetId = "NLmessage"
    }, new { @id = "updateCarForm" }))
                {
<div id="landing">
    <div class="title">
        <img src="/img/form-title.png" alt="Sign up to get emails about the latest  products and special offers from Candy Crush." border="0">
    </div>
    <!-- <div id="errorDiv" style="border: 1px solid; background-repeat: no-repeat; background-position: 10px center; color: #D8000C; background-color: #FFBABA; font-weight:normal; font-size:12px; visibility:hidden;"></div> -->
    <div class="section signup" id="mainForm" style="">
        <div class="field single" id="emailDiv">
            @Html.TextBoxFor(m => m.Email, new { maxlength = "50", size = "30", placeholder = "Enter your email" })
            @*                    <input type="text" name="email" maxlength="50" size="30" value="Enter your email" onfocus="if (this.value == 'Enter your email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter your email';}">*@
            <input class="btn btn-primary" type="submit" value="SUBMIT">
        </div>
        <div id="NLmessage">
            &nbsp;
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="field submit"></div>
    </div>
</div>
             }