@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="content">
    <div class="container">
        
        @if (ViewBag.Hompage == "true")
        {
            @Html.Partial("newsLetterSubscription")
           
        }
        <h2 class="align-center unbranded">Browse Our Store</h2>
        <div class="gap-30"></div>

        @Html.Partial("_ProductPartial",(List<Ecommerce.Model.ProductModel>)ViewBag.Productmodel)


    </div>
</section>



